@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
  box-sizing: border-box;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  /*reset Firefox user agent styles*/
  -moz-margin-before: 0px;
  -moz-margin-after: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-before: 0px;
  -moz-padding-after: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  /*reset Internet Explorer user agent styles*/
  -ms-margin-before: 0px;
  -ms-margin-after: 0px;
  -ms-margin-start: 0px;
  -ms-margin-end: 0px;
  -ms-padding-before: 0px;
  -ms-padding-after: 0px;
  -ms-padding-start: 0px;
  -ms-padding-end: 0px;
  /*reset Opera user agent styles*/
  -o-margin-before: 0px;
  -o-margin-after: 0px;
  -o-margin-start: 0px;
  -o-margin-end: 0px;
  -o-padding-before: 0px;
  -o-padding-after: 0px;
  -o-padding-start: 0px;
  -o-padding-end: 0px;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

ul li {
  list-style: none;
}
.app-container {
  display: flex;
  position: relative;
  background-color: #f1f1f1;
  align-items: center;
  justify-content: center;
  padding: 10%;
  height: 100vh;
}

.students-list-container {
  position: absolute;
  background-color: white;
  border-radius: 15px;
  min-width: 70%;
  max-height: 70%;
  margin: 0 auto;
  overflow: scroll;
  -ms-overflow-style: none; /* Hide scrollbar for  IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.students-list-container::-webkit-scrollbar {
  display: none;
}

.students-list-container ul li {
  border: 0.5px solid #ddd;
  border-bottom: none;
}
.students-list-container ul li:last-child {
  border: 0.5px solid #ddd;
}

.student-container {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 10px;
  color: gray;
  line-height: 1.6;
  font-weight: 200;
}

.student-container img {
  float: left;
  margin: 10px 30px;
  border: 0.5px solid #ddd;
  border-radius: 50%;
  width: 70%;
}

.student-container h1 {
  font-size: 35px;
  color: black;
  font-weight: 600;
}

.student-container.left-side {
  grid-column: 1;
}

.student-container.right-side {
  grid-column: 2;
}
.student-container ul li {
  border: none;
  margin-left: 15px;
}

.student-container ul li:last-child {
  border: none;
}
